---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import Education from '../components/Education.astro';
import Expertise from '../components/Expertise.astro';
import Volunteering from '../components/Volunteering.astro';
import Newsletter from '../components/Newsletter.astro';
import ConsultationCTA from '../components/ConsultationCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Services />
    <ExperienceTimeline />
    <Education />
    <Expertise />
    <Volunteering />
    <Newsletter />
    <ConsultationCTA />
  </main>
  <Footer />
</Layout>
